{{ $cit_id := .Get 0 }}
{{ $comment := .Get 1 }}
{{ $cits := .Page.Store.Get "citations" }}

{{ $key := "" }}
{{ if eq $comment "" }}
{{ $key = $cit_id }}
{{ else }}
{{ $key = printf "%s - %s" $cit_id $comment }}
{{ end }}

{{ if isset $cits $key }}

<a class="citation_id" href="#{{ $cit_id }}">(c{{ index $cits $key }})</a>

{{ else }}

{{ $id := 0 }}
{{ with $cits }}
{{ $id = len $cits }}
{{ end }}

{{ .Page.Store.SetInMap "citations" $key $id }}

<a class="citation_id" href="#{{ $cit_id }}">(c{{ $id }})</a>

{{ end }}

